<div class="header gpu" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <h1>¿Pero qué narices es Canelaparty?</h1>
</div>


<div style="padding:10px;">
    <div class="well" style="min-height:57px;">
        <img src="assets/images/app_icon.png" style="float:left; padding:0px; margin: 0px; margin-right: 10px; margin-bottom: 10px;" />
        <strong>Canelaparty</strong> nace del amor incondicional hacia la música, la fiesta y el bizarro mundo de los disfraces y el atrezo. Tras seis exitosas citas, la séptima edición de esta fiesta musical veraniega se celebrará en Agosto de 2013.

        <hr/>

        No es un festival de música alternativa al uso, sino que está más cerca de ser una macrofiesta de disfraces. Aún así, pretende ser mucho más: un encuentro multiestilístico para el regodeo de todos aquellos disfrutones de la música independiente en general. Hemos conseguido darle la vuelta a la tortilla y que el público se convierte en el núcleo de la fiesta y tome parte activa en la misma a través de sus disfraces, que se premian con regalos y divertidos concursos y actividades.
    </div>

    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Organiza</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.canelaparty.com" target="_blank" title="Culoactivo Canela"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/culoactivo.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.canelaparty.com/" target="_blank" title="Culoactivo Canela"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/canelaparty.jpg"></a></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Patrocina</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.jagermeister.es" target="_blank" title="Jagermeister"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/jaggermaister.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.muelleuno.com/" target="_blank" title="Muelle Uno"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/muelleuno.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="https://www.facebook.com/VansShopMalaga/" target="_blank" title="Vans Shop Málaga"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/vansshop.jpg"></a></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Colaboran</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.paris15.es/" target="_blank" title="Sala París 15"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/paris15.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://velvetclub.es/" target="_blank" title="Velvet Club Málaga"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/velvet.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="https://www.facebook.com/pages/Griptape-Store/128252890575835" target="_blank" title="Griptape Store"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/griptape.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="https://www.facebook.com/pages/Drunk-O-Rama-Cafe-Bar/83845262364" target="_blank" title="Drunk'o'rama"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/drunko.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://malgenioworkshop.blogspot.com" target="_blank" title="Malgenio Workshop"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/malgenio.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.fourstarclothing.com/" target="_blank" title="Four Star Clothing"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/4star.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://eswic.com/" target="_blank" title="Eswic"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/shield.jpg"></a></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://www.ticketea.com" target="_blank" title="Ticketea"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/ticketea.jpg"></a></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Medios Colaboradores</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/atico.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><a href="http://stafmagazine.com/" target="_blank" title="Staf Magazine"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/staf.jpg"></a></li>
        </ul>
    </div>
</div>