<div class="header gpu" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <h1>¿Pero qué narices es Canelaparty?</h1>
</div>


<div style="padding:10px;">
    <div class="well" style="min-height:57px;">
        <img src="assets/images/app_icon.png" style="float:left; padding:0px; margin: 0px; margin-right: 10px; margin-bottom: 10px;" />
        <strong>Canelaparty</strong> nace del amor incondicional hacia la música, la fiesta y el bizarro mundo de los disfraces y el atrezo. Tras seis exitosas citas, la séptima edición de esta fiesta musical veraniega se celebrará en Agosto de 2013.

        <hr/>

        No es un festival de música alternativa al uso, sino que está más cerca de ser una macrofiesta de disfraces. Aún así, pretende ser mucho más: un encuentro multiestilístico para el regodeo de todos aquellos disfrutones de la música independiente en general. Hemos conseguido darle la vuelta a la tortilla y que el público se convierte en el núcleo de la fiesta y tome parte activa en la misma a través de sus disfraces, que se premian con regalos y divertidos concursos y actividades.
    </div>

    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Organiza</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/culoactivo.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/canelaparty.jpg"></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Patrocina</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/jaggermaister.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/muelleuno.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/vansshop.jpg"></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Colaboran</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/paris15.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/velvet.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/griptape.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/drunko.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/malgenio.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/4star.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/shield.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/ticketea.jpg"></li>
        </ul>
    </div>
    <div class="well" style="min-height:57px;">
        <h4 style="padding-top: 0px; margin-top: 0px;">Medios Colaboradores</h4>
        <ul style="margin: 8px; padding: 0px; list-style:none;">
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/atico.jpg"></li>
            <li style="display: inline; list-style-type: none; padding-right: 20px;"><img width="57" height="57" alt="" class="attachment-full" style="max-width: 57px;max-height: 57px;" src="assets/images/icons/staf.jpg"></li>
        </ul>
    </div>
</div>