<div id="homeView" style="height:100%; position:absolute; padding: 0px; ">

    <div id="wrapper">
        <div class="well">
            <h4 style="text-align: center;">Agárramela que me crece</h4>

            <div style="text-align: center;">
                <p>
                    <button id="selectDay" class="dayButton btn btn-info">Calendario de conciertos</button>
                </p>

                <h4>- O -</h4>

                <p>
                    <button id="selectDay" class="dayButton btn btn-info">Votar fotos</button>
                </p>
            </div>

            <p class="alert alert-info" style="font-weight: bold; margin:0px -20px;">#canela2013 @CanelaParty</p>


        </div>

    </div>



</div>
