<div id="homeView" style="height:100%; position:absolute; padding: 0px; ">

    <div id="wrapper">
        <div class="well">
            <h4 style="text-align: center;">Agárramela que me crece</h4>

            <div style="text-align: center;">
                <p>
                    <button id="selectDay" class="blueButton btn btn-info">Calendario de conciertos</button>
                </p>

                <h4>- O -</h4>

                <p>
                    <button id="selectCamera" class="blueButton btn btn-info">Subir foto a Twitter</button>
                </p>
            </div>

            <p style="text-align: left;">
                Las fotos se subirán automáticamente a Twitter de @CanelaParty con el hashtag #canela2013
            </p>

            <p class="alert alert-info" style="font-weight: bold; margin:0px -20px;">#canela2013 @CanelaParty</p>


        </div>

    </div>



</div>
