<div id="homeView">

    <div id="wrapper">
        <div class="well">
            <h1>Agárramela, que me crece</h1>
            <p>Calendario de conciertos
            </p>

            <div style="text-align: center;">
                <p>
                    <button id="selectDay" class="btn btn-info">Calendario de conciertos</button>
                </p>

                <h4 style="text-align: center">--OR--</h4>


                <p style="text-align: left;">
                    <strong>Esto es una prueba de texto</strong>
                </p>
            </div>

            <p class="alert alert-info" style="font-weight: bold; margin:0px -20px;">Esto es un alert</p>


        </div>

    </div>



</div>
